.form-input {
    width: 300px;
    height: 40px;
    padding: 10px;
    border-style: none;
    border-radius: 7px;
    box-shadow:0 4px 4px #3f3f3f;
    background-color: var(--icon-color);
}