.form-button {
    width: 140px;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    border: 3px solid var(--primary-color);
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    transition: .7s;
}

.form-button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.form-button-light {
    border: 3px solid var(--text-color-light);
    color: var(--text-color-light);
}
